### JAVA BACKEND ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Build outputs
target/
out/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs 
hs_err_pid*
replay_pid*

### PYTHON ML-SERVICE ###
# Virtual environment
ml-service/venv/

# Python cache
ml-service/__pycache__/
ml-service/**/*.pyc
ml-service/**/*.pyo
ml-service/**/*.pyd

# Python build files
ml-service/build/
ml-service/dist/

### IDE DIRECTORIES (important) ###
# IntelliJ / PyCharm
.idea/

# VSCode
.vscode/

### OS files ###
# Windows / Mac temporary files
Thumbs.db
.DS_Store

### MISC ###
# Environment files
*.env
.env.*