-- Create database
CREATE DATABASE IF NOT EXISTS sgms;
USE sgms;

-- student_info table
CREATE TABLE IF NOT EXISTS student_info (
        student_id INT NOT NULL AUTO_INCREMENT,
        name VARCHAR(100) NOT NULL,
        email VARCHAR(100) NOT NULL UNIQUE,
        department VARCHAR(100) NOT NULL,
        class VARCHAR(50),
        year INT NOT NULL,
        updated_at TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
        PRIMARY KEY (student_id)
);

-- staff_info table
CREATE TABLE IF NOT EXISTS staff_info (
    staff_id INT NOT NULL AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(120) NOT NULL UNIQUE,
    department VARCHAR(120) NOT NULL,
    role VARCHAR(120) NOT NULL,
    phone VARCHAR(20),
    updated_at TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    PRIMARY KEY (staff_id)
);
describe student_info;
describe staff_info;
select *from student_info;
select *from staff_info;
-- 1. Rename column `class` → `class_name`
ALTER TABLE student_info
CHANGE class class_name VARCHAR(100);

-- 2. Change year from INT → VARCHAR
ALTER TABLE student_info
MODIFY year VARCHAR(10);

-- 3. Add password column (nullable)
ALTER TABLE student_info
ADD password VARCHAR(255) NULL
AFTER email;

alter table staff_info
drop level;
-- 4. Add enrollment number (unique)
ALTER TABLE student_info
ADD enrollment_no VARCHAR(100) UNIQUE;

-- 1. Add password column
ALTER TABLE staff_info
ADD password VARCHAR(255) NULL
AFTER email;

-- 2. changing password column to not null for student table

select*from student_info where password is null;

UPDATE student_info
SET password = 'temp123'
WHERE password IS NULL;

ALTER TABLE student_info MODIFY password VARCHAR(255) NOT NULL;

-- 3. changing password column to not null for staff table
UPDATE staff_info
SET password="staff321"
WHERE password is NULL;

ALTER TABLE staff_info MODIFY password VARCHAR(255) NOT NULL;

describe student_info;
describe staff_info;
use sgms;
select*from student_info;
select * from staff_info;

-- Day 3---------------------

-- First update existing records with current timestamp by removing NULL---
ALTER TABLE student_info
MODIFY updated_at TIMESTAMP NOT NULL
DEFAULT CURRENT_TIMESTAMP
ON UPDATE CURRENT_TIMESTAMP;

ALTER TABLE staff_info
MODIFY updated_at TIMESTAMP NOT NULL
DEFAULT CURRENT_TIMESTAMP
ON UPDATE CURRENT_TIMESTAMP;

-- Adding Created at Column---
ALTER TABLE student_info
ADD created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
AFTER year;

ALTER TABLE staff_info
ADD created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
AFTER phone;

ALTER TABLE student_info
ADD password VARCHAR(255) NOT NULL
AFTER email;

ALTER TABLE student_info
RENAME COLUMN class_name TO division_name;

ALTER TABLE staff_info
ADD password VARCHAR(255) NOT NULL
AFTER email;
--- creating complaint Table--------
CREATE TABLE complaints (
    complaint_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT NOT NULL,
    assigned_to INT NULL,
    title VARCHAR(255) NOT NULL,
    description TEXT NOT NULL,
    category VARCHAR(100) NOT NULL,
    ml_predicted_category VARCHAR(100),
    priority VARCHAR(50) NOT NULL,
    ml_predicted_priority VARCHAR(50),
    current_level VARCHAR(100) NOT NULL DEFAULT 'LEVEL_1',
    status VARCHAR(50) NOT NULL DEFAULT 'OPEN',

    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    resolved_at TIMESTAMP NULL,

    CONSTRAINT fk_complaint_student
        FOREIGN KEY (student_id)
        REFERENCES student_info(student_id)
        ON DELETE CASCADE,

    CONSTRAINT fk_complaint_staff
        FOREIGN KEY (assigned_to)
        REFERENCES staff_info(staff_id)
        ON DELETE SET NULL
);
DESCRIBE complaints;
select * from complaints;
-- ----Day 4--------------
CREATE TABLE department (
    department_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(255)NOT NULL UNIQUE);


    describe department;
--- academic table----------
CREATE TABLE academic_division(
                             division_id INT PRIMARY KEY AUTO_INCREMENT,
                             name VARCHAR(100) NOT NULL,department_id INT NOT NULL,
                             FOREIGN KEY(department_id) 
                             REFERENCES department(department_id));


select * from academic_division;
describe academic_division;

CREATE TABLE hostel(
    hostel_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100)NOT NULL,
    type VARCHAR(100)
);
-- Updating hostel table---
ALTER TABLE hostel
MODIFY type ENUM('BOYS','GIRLS') NOT NULL;
describe hostel

CREATE TABLE hostel_floor(
    floor_id INT AUTO_INCREMENT PRIMARY KEY,
    hostel_id INT NOT NULL,
    floor_number VARCHAR(20),
    FOREIGN KEY(hostel_id) REFERENCES hostel(hostel_id)
    );
ALTER TABLE hostel_floor
MODIFY hostel_id INT NOT NULL;

    describe student_info;
-- student_info Updates--------
ALTER TABLE student_info
ADD division_id INT,
ADD hostel_id INT,
ADD floor_id INT,
ADD FOREIGN KEY (division_id) REFERENCES academic_division(division_id),
ADD FOREIGN KEY (hostel_id) REFERENCES hostel(hostel_id),
ADD FOREIGN KEY (floor_id) REFERENCES hostel_floor(floor_id);

-- Staff_info Updates------
SELECT student_id, division_id 
FROM student_info
WHERE division_id IS NULL;

DELETE FROM academic_division;
DELETE FROM department;
select*from academic_division;
select*from department;
-- update to NOT NULL on departmrnt_id
SELECT * FROM department;

ALTER TABLE student_info
MODIFY division_id INT NULL;

UPDATE student_info
SET division_id = NULL;

select*from student_info;

ALTER TABLE staff_info
ADD division_id INT NULL,
ADD hostel_id INT NULL,
ADD floor_id INT NULL,
ADD FOREIGN KEY (division_id) REFERENCES academic_division(division_id),
ADD FOREIGN KEY (hostel_id) REFERENCES hostel(hostel_id),
ADD FOREIGN KEY (floor_id) REFERENCES hostel_floor(floor_id);
-- ----------------
DESCRIBE student_info;
DESCRIBE staff_info;
DESCRIBE academic_division;
DESCRIBE department;
DESCRIBE hostel;
DESCRIBE hostel_floor;
DESCRIBE complaints;
--- removing unwanted columns
ALTER TABLE student_info
DROP COLUMN division_name;

ALTER TABLE student_info
DROP COLUMN department;
-- changing student_id as NOT NULL
ALTER TABLE student_info
DROP FOREIGN KEY student_info_ibfk_1;

ALTER TABLE student_info
DROP COLUMN division_id;

ALTER TABLE student_info
ADD COLUMN division_id INT
AFTER enrollment_no;

SELECT division_id, name FROM academic_division;

UPDATE student_info SET division_id = 9 WHERE student_id = 1;
UPDATE student_info SET division_id = 10 WHERE student_id = 2;
UPDATE student_info SET division_id = 11 WHERE student_id = 3;
UPDATE student_info SET division_id = 12 WHERE student_id = 4;
-- Makeing  division_id as NOT NULL
ALTER TABLE student_info
MODIFY division_id INT NOT NULL;
-- NOW add foregin key
ALTER TABLE student_info
ADD CONSTRAINT fk_student_division
FOREIGN KEY (division_id)
REFERENCES academic_division(division_id)
ON DELETE RESTRICT;

select * from student_info;
select*from academic_division;
select* from staff_info;

SELECT division_id, name FROM academic_division;

-- -------------------
SELECT * FROM department;
INSERT INTO department (name)
VALUES ('CSE'), ('ECE');

SELECT * FROM department;

INSERT INTO academic_division (name, department_id)
VALUES('CSE-A', 3),
      ('CSE-B', 3),
      ('ECE-A', 4),
      ('ECE-B', 4);

SELECT division_id FROM student_info;
SELECT division_id FROM academic_division;

DELETE FROM student_info
WHERE name IN ('Madhu', 'Mounika');
-- -----------------------
DESCRIBE staff_info;
DESCRIBE hostel;
DESCRIBE hostel_floor;

SELECT division_id FROM staff_info;
SELECT hostel_id FROM staff_info;
SELECT floor_id FROM staff_info;

select * from staff_info;
-- Table connection for staff_info---
ALTER TABLE staff_info
ADD CONSTRAINT fk_staff_division
FOREIGN KEY(division_id) REFERENCES 
academic_division(division_id) 
ON DELETE SET NULL;
-- staff-->floor------------
ALTER TABLE staff_info
ADD CONSTRAINT fk_staff_floor
FOREIGN KEY(floor_id) REFERENCES hostel_floor(floor_id)
ON DELETE SET NULL;

describe hostel_floor;
select * from hostel_floor;

describe hostel;
select*from hostel;
-- -Floor --> Hostel
ALTER TABLE hostel_floor
ADD CONSTRAINT fk_floor_hostel
FOREIGN KEY(hostel_id) REFERENCES hostel(hostel_id)
ON DELETE CASCADE;

SHOW CREATE TABLE student_info;
-- Student table modifications--------
ALTER TABLE student_info
DROP FOREIGN KEY student_info_ibfk_2;
-- deleting floor id
ALTER TABLE student_info
DROP COLUMN floor_id;

ALTER TABLE student_info
DROP FOREIGN KEY student_info_ibfk_3;

-- Create Room Table----------
CREATE TABLE room (
    room_id INT AUTO_INCREMENT PRIMARY KEY,

    floor_id INT NOT NULL,
    room_number VARCHAR(20) NOT NULL,

    capacity INT NOT NULL DEFAULT 1,
    current_occupancy INT NOT NULL DEFAULT 0,

    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP 
        ON UPDATE CURRENT_TIMESTAMP,

    CONSTRAINT fk_room_floor
    FOREIGN KEY (floor_id)
    REFERENCES hostel_floor(floor_id)
    ON DELETE CASCADE,

    CONSTRAINT uq_room_per_floor
    UNIQUE (floor_id, room_number)
);

ALTER TABLE student_info
ADD COLUMN room_id INT NULL
AFTER division_id;
-- student room_id connected to room table
ALTER TABLE student_info
ADD CONSTRAINT fk_student_room
FOREIGN KEY(room_id) REFERENCES room(room_id)
ON DELETE SET NULL;

SHOW CREATE TABLE student_info;
SHOW CREATE TABLE staff_info;
SHOW CREATE TABLE academic_division;
SHOW CREATE TABLE department;
SHOW CREATE TABLE room;
SHOW CREATE TABLE hostel_floor;
SHOW CREATE TABLE hostel;

-- Modifications--------
ALTER TABLE staff_info DROP COLUMN department;

ALTER TABLE hostel_floor
DROP FOREIGN KEY hostel_floor_ibfk_1;

ALTER TABLE academic_division
DROP FOREIGN KEY academic_division_ibfk_1;

ALTER TABLE academic_division
ADD CONSTRAINT fk_division_department
FOREIGN KEY (department_id)
REFERENCES department(department_id)
ON DELETE RESTRICT;
-- Modifications on complaints Table
SHOW CREATE TABLE complaints;
-- Make created_at NOT NULL
ALTER TABLE complaints
MODIFY created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP;
-- Convert status to ENUM-----
ALTER TABLE complaints
MODIFY status ENUM('OPEN','IN_PROGRESS','ESCALATED','RESOLVED','REJECTED')
NOT NULL DEFAULT 'OPEN';
-- Convert priority to ENUM---
ALTER TABLE complaints
MODIFY priority ENUM('LOW','MEDIUM','HIGH','CRITICAL')
NOT NULL DEFAULT 'LOW'; 

SELECT DISTINCT status FROM complaints;
SELECT DISTINCT priority FROM complaints;
-- creating complaint_file Table
CREATE TABLE complaint_files (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,

    complaint_id INT NOT NULL,
    file_url TEXT NOT NULL,

    uploaded_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT fk_file_complaint
    FOREIGN KEY (complaint_id)
    REFERENCES complaints(complaint_id)
    ON DELETE CASCADE
);
-- creating complaint_Update Table--
CREATE TABLE complaint_updates (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,

    complaint_id INT NOT NULL,
    performed_by INT NULL,

    action VARCHAR(100) NOT NULL,
    note TEXT,

    from_status ENUM('OPEN','IN_PROGRESS','ESCALATED','RESOLVED','REJECTED'),
    to_status ENUM('OPEN','IN_PROGRESS','ESCALATED','RESOLVED','REJECTED'),

    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT fk_update_complaint
    FOREIGN KEY (complaint_id)
    REFERENCES complaints(complaint_id)
    ON DELETE CASCADE,

    CONSTRAINT fk_update_staff
    FOREIGN KEY (performed_by)
    REFERENCES staff_info(staff_id)
    ON DELETE SET NULL
);
describe complaint_updates;

SHOW CREATE TABLE complaints;
SHOW CREATE TABLE complaint_files;
SHOW CREATE TABLE complaint_updates;

-- -----------------------------------------------------------------------------------------------------
select*from staff_info;
show create table staff_info;

ALTER TABLE staff_info
MODIFY created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP;
-- ---
ALTER TABLE staff_info
DROP COLUMN role; 
-- role Table----------
CREATE TABLE role (
    role_id INT AUTO_INCREMENT PRIMARY KEY,
    role_name VARCHAR(100) UNIQUE NOT NULL
);
-- creating new staff_role table----------
CREATE TABLE staff_role (
    staff_id INT NOT NULL,
    role_id INT NOT NULL,

    PRIMARY KEY (staff_id, role_id),

    FOREIGN KEY (staff_id)
        REFERENCES staff_info(staff_id)
        ON DELETE CASCADE,

    FOREIGN KEY (role_id)
        REFERENCES role(role_id)
        ON DELETE RESTRICT
);
-- escelation system table--------------
CREATE TABLE escalation_matrix (
    id INT AUTO_INCREMENT PRIMARY KEY,

    category VARCHAR(100) NOT NULL,     -- HOSTEL, ACADEMIC, etc.
    level INT NOT NULL,                 -- 1,2,3
    role_id INT NOT NULL,               -- who handles this level
    resolution_time_hours INT NOT NULL, -- SLA time

    FOREIGN KEY (role_id)
        REFERENCES role(role_id)
        ON DELETE RESTRICT
);
-- joining tables for retriving data------------
SELECT 
    s.staff_id,
    s.name,
    GROUP_CONCAT(r.role_name) AS roles
FROM staff_info s
LEFT JOIN staff_role sr ON s.staff_id = sr.staff_id
LEFT JOIN role r ON sr.role_id = r.role_id
GROUP BY s.staff_id, s.name;

SELECT * FROM staff_info;
SELECT*FROM role;
select * from staff_role;
select*from escalation_matrix;
select*from academic_division;
select*from department;
-- ----------------------
select*from staff_role;
select*from role;
select*from staff_info; -- 
select*from student_info; --
select*from room;
select*from hostel_floor;
select*from hostel;
select*from academic_division; --
select*from complaint_updates;
select*from complaint_files;
select*from complaints;
select*from department; --
SELECT * FROM department ORDER BY department_id;

SET FOREIGN_KEY_CHECKS = 0;

TRUNCATE TABLE complaint_updates;
TRUNCATE TABLE complaint_files;
TRUNCATE TABLE complaints;
TRUNCATE TABLE staff_role;
TRUNCATE TABLE student_info;
TRUNCATE TABLE staff_info;
TRUNCATE TABLE room;
TRUNCATE TABLE hostel_floor;
TRUNCATE TABLE hostel;
TRUNCATE TABLE academic_division;
TRUNCATE TABLE department;
TRUNCATE TABLE role;
TRUNCATE TABLE escalation_matrix;

SET FOREIGN_KEY_CHECKS = 1;

-- showing all structur of database
SELECT CONCAT('SHOW CREATE TABLE ', table_name, ';')
FROM information_schema.tables
WHERE table_schema = 'sgms';

SHOW CREATE TABLE complaint_updates;
SHOW CREATE TABLE complaint_files;
SHOW CREATE TABLE complaints;
SHOW CREATE TABLE staff_role;
SHOW CREATE TABLE student_info;
SHOW CREATE TABLE staff_info;
SHOW CREATE TABLE room;
SHOW CREATE TABLE hostel_floor;
SHOW CREATE TABLE hostel;
SHOW CREATE TABLE academic_division;
SHOW CREATE TABLE department;
SHOW CREATE TABLE role;
SHOW CREATE TABLE escalation_matrix;

DESCRIBE complaint_updates;
DESCRIBE complaint_files;
DESCRIBE complaints;
DESCRIBE staff_role;
DESCRIBE student_info;
DESCRIBE staff_info;
DESCRIBE room;
DESCRIBE hostel_floor;
DESCRIBE hostel;
DESCRIBE academic_division;
DESCRIBE department;
DESCRIBE role;
DESCRIBE escalation_matrix;

select*from hostel;
SELECT*FROM hostel_floor;
SELECT * FROM hostel_floor ORDER BY floor_id;
SELECT*FROM room;
SELECT*FROM role;
SELECT*FROM staff_role;
SELECT*FROM staff_info;
describe staff_info;
SELECT*FROM department;
SELECT*FROM complaints;
-- -----------------------------------
ALTER TABLE complaints
MODIFY category ENUM(
    'HOSTEL',
    'ACADEMIC',
    'LIBRARY',
    'MEDICAL',
    'GENERAL'
) NOT NULL;
--   ---------------------------------------------
ALTER TABLE complaints
ADD escalation_level INT DEFAULT 1 AFTER current_level;
-- ---------------------------------------
CREATE INDEX idx_complaint_student ON complaints(student_id);

CREATE INDEX idx_complaint_assigned ON complaints(assigned_to);

CREATE INDEX idx_complaint_status ON complaints(status);

CREATE INDEX idx_complaint_priority ON complaints(priority);
-- --------------------------
CREATE TRIGGER check_room_capacity
BEFORE INSERT ON student_info
FOR EACH ROW
BEGIN
  DECLARE occ INT;
  DECLARE cap INT;

  SELECT current_occupancy, capacity
  INTO occ, cap
  FROM room
  WHERE room_id = NEW.room_id;

  IF occ >= cap THEN
     SIGNAL SQLSTATE '45000'
     SET MESSAGE_TEXT = 'Room capacity exceeded';
  END IF;
END;
--  -----------------------------------
CREATE VIEW complaint_stats AS
SELECT
category,
COUNT(*) AS total,
AVG(TIMESTAMPDIFF(HOUR,created_at,resolved_at)) AS avg_resolution_time
FROM complaints
GROUP BY category;
-- group by status-------------------------------------------
SELECT status, COUNT(*) AS total
FROM complaints
GROUP BY status;
-- Complaints by Category----------
SELECT category, COUNT(*) AS total_complaints
FROM complaints
GROUP BY category;
--  Complaints by Department--------------------
SELECT d.department_name, COUNT(c.complaint_id) AS total
FROM complaints c
JOIN student_info s ON c.student_id = s.student_id
JOIN academic_division ad ON s.division_id = ad.division_id
JOIN department d ON ad.department_id = d.department_id
GROUP BY d.department_name;
-- Average complaint resolution time---------------
SELECT 
AVG(TIMESTAMPDIFF(HOUR, created_at, resolved_at)) AS avg_resolution_hours
FROM complaints
WHERE status = 'RESOLVED';