-- Create database
CREATE DATABASE IF NOT EXISTS sgms;
USE sgms;

-- student_info table
CREATE TABLE IF NOT EXISTS student_info (
        student_id INT NOT NULL AUTO_INCREMENT,
        name VARCHAR(100) NOT NULL,
        email VARCHAR(100) NOT NULL UNIQUE,
        department VARCHAR(100) NOT NULL,
        class VARCHAR(50),
        year INT NOT NULL,
        updated_at TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
        PRIMARY KEY (student_id)
);

-- staff_info table
CREATE TABLE IF NOT EXISTS staff_info (
    staff_id INT NOT NULL AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(120) NOT NULL UNIQUE,
    department VARCHAR(120) NOT NULL,
    role VARCHAR(120) NOT NULL,
    level INT NOT NULL DEFAULT 1,
    phone VARCHAR(20),
    updated_at TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    PRIMARY KEY (staff_id)
);
describe student_info;
describe staff_info;
select *from student_info;
select *from staff_info;